In [38]:
import pandas as pd
# Ignore Futurewarnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('tydone.csv')

In [9]:
df.head(5)

,Area,Item,Year,Area_harvested,Yield,temperature,precipitation,humidity,Soil_PH,Soil_Nitrogen,Soil_OM,VHI,ASI
0,Thailand,Areca nuts,1961,0.0,0.0,26.23,1740.10,78.50,4.33,0.92,3.69,0.36,19.17
1,Thailand,Areca nuts,1962,0.0,0.0,26.08,1586.14,76.30,5.95,4.05,2.66,0.55,3.96
2,Thailand,Areca nuts,1963,0.0,0.0,26.07,1664.81,77.30,4.72,1.49,3.91,0.40,8.93
3,Thailand,Areca nuts,1964,0.0,0.0,26.14,1689.46,73.19,4.89,3.02,3.65,0.43,7.68
4,Thailand,Areca nuts,1965,0.0,0.0,26.28,1600.65,73.50,4.50,2.43,2.92,0.41,18.26

In [16]:
thai_df = df[df['Area'] == 'Thailand']

In [23]:
yemen_df = df[df['Area'] == 'Yemen']

In [24]:
yemen_count = len(yemen_df['Item'].unique())
print("Count of unique items:", yemen_count)

Count of unique items: 59

In [22]:
thai_count = len(thai_df['Item'].unique())
print("Count of unique items:", thai_count)

Count of unique items: 74

In [15]:
# Counting instances where 'area_harvested' column is equal to 0
zero_thai = thai_df[thai_df['Area_harvested'] == 0].shape[0]

print("Number of instances where area_harvested is equal to 0:", zero_thai)

Number of instances where area_harvested is equal to 0: 1337

In [17]:
# Dropping rows where 'area_harvested' column is equal to 0
thai_filtered = thai_df[thai_df['Area_harvested'] != 0]

print("DataFrame after dropping rows where area_harvested = 0:")
print(thai_filtered)

DataFrame after dropping rows where area_harvested = 0:
          Area        Item  Year  Area_harvested    Yield  temperature  \
22    Thailand  Areca nuts  1983          9600.0  15625.0        26.40
23    Thailand  Areca nuts  1984          9600.0  15625.0        26.11
24    Thailand  Areca nuts  1985         12000.0  15000.0        26.19
25    Thailand  Areca nuts  1986          9300.0  15054.0        26.14
26    Thailand  Areca nuts  1987          8000.0  15000.0        26.97
...        ...         ...   ...             ...      ...          ...
7888  Thailand       Wheat  2018         64339.0  14332.0        25.50
7889  Thailand       Wheat  2019         57466.0  17459.0        25.94
7890  Thailand       Wheat  2020         59190.0  21485.0        25.62
7891  Thailand       Wheat  2021         60955.0  22644.0        25.64
7892  Thailand       Wheat  2022         60000.0  16667.0        25.51

      precipitation  humidity  Soil_PH  Soil_Nitrogen  Soil_OM   VHI    ASI
22          1632.68      74.9     5.31          2.500     2.66  0.56  16.26
23          1504.35      73.0     5.50          1.190     3.52  0.55   1.77
24          1539.99      73.0     4.50          3.360     3.75  0.49   7.86
25          1497.08      71.7     4.28          4.110     2.99  0.43  20.81
26          1494.28      70.9     5.80          0.770     2.64  0.43  21.68
...             ...       ...      ...            ...      ...   ...    ...
7888         187.61      40.4     6.88          0.021     0.74  0.54   6.74
7889         185.96      41.7     6.93          0.059     0.71  0.65   4.16
7890         188.15      42.4     7.51          0.039     0.74  0.57   3.56
7891         186.96      41.0     7.96          0.029     1.20  0.64   3.85
7892         190.54      43.0     7.97          0.051     1.06  0.68   4.59

[6556 rows x 13 columns]

In [20]:
# Count instances when 'yield' column is equal to 0
zero_yield_count = thai_filtered[thai_filtered['Yield'] == 0].shape[0]

print("Number of instances when yield is equal to 0:", zero_yield_count)

Number of instances when yield is equal to 0: 0

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Grouping by features and summing the 'yield' column
df_grouped = thai_filtered.groupby('Item').sum().reset_index()

# Splitting data into features (X) and target variable (y)
X = df_grouped.drop(columns=['Yield', 'Item', 'Area'])  # Features
y = df_grouped['Yield']  # Target variable (sum of 'yield' for each crop)

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Instantiate linear regression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 16676152751796.861

In [ ]:
# Calculate sum of 'yield' column
yield_sum = df['yield'].sum()

print("Sum of 'yield' column:", yield_sum)

In [21]:
unique_items_count = len(df['Item'].unique())
print("Count of unique items:", unique_items_count)

Count of unique items: 95

In [8]:
df['Item'].unique().tolist()

['Areca nuts',
 'Asparagus',
 'Bananas',
 'Barley',
 'Beans, dry',
 'Broad beans and horse beans, green',
 'Cabbages',
 'Canary seed',
 'Cashew nuts, in shell',
 'Cassava, fresh',
 'Castor oil seeds',
 'Cauliflowers and broccoli',
 'Cereals n.e.c.',
 'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw',
 'Chillies and peppers, green (Capsicum spp. and Pimenta spp.)',
 'Cocoa beans',
 'Coconuts, in shell',
 'Coffee, green',
 'Coir, raw',
 'Cucumbers and gherkins',
 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh',
 'Eggplants (aubergines)',
 'Ginger, raw',
 'Grapes',
 'Green corn (maize)',
 'Green garlic',
 'Groundnuts, excluding shelled',
 'Jute, raw or retted',
 'Kapok fruit',
 'Kenaf, and other textile bast fibres, raw or retted',
 'Lemons and limes',
 'Lettuce and chicory',
 'Maize (corn)',
 'Mangoes, guavas and mangosteens',
 'Melonseed',
 'Natural rubber in primary forms',
 'Nutmeg, mace, cardamoms, raw',
 'Oil palm fruit',
 'Onions and shallots, dry (excluding dehydrated)',
 'Onions and shallots, green',
 'Oranges',
 'Other beans, green',
 'Other citrus fruit, n.e.c.',
 'Other fibre crops, raw, n.e.c.',
 'Other fruits, n.e.c.',
 'Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.',
 'Other oil seeds, n.e.c.',
 'Other pulses n.e.c.',
 'Other stimulant, spice and aromatic crops, n.e.c.',
 'Other tropical fruits, n.e.c.',
 'Other vegetables, fresh n.e.c.',
 'Papayas',
 'Peas, green',
 'Pepper (Piper spp.), raw',
 'Pineapples',
 'Pomelos and grapefruits',
 'Potatoes',
 'Pumpkins, squash and gourds',
 'Rice',
 'Seed cotton, unginned',
 'Sesame seed',
 'Sisal, raw',
 'Sorghum',
 'Soya beans',
 'Sugar cane',
 'Sunflower seed',
 'Sweet potatoes',
 'Tangerines, mandarins, clementines',
 'Taro',
 'Tea leaves',
 'Tomatoes',
 'Unmanufactured tobacco',
 'Watermelons',
 'Wheat',
 'Almonds, in shell',
 'Apples',
 'Apricots',
 'Broad beans and horse beans, dry',
 'Cantaloupes and other melons',
 'Carrots and turnips',
 'Chick peas, dry',
 'Cow peas, dry',
 'Dates',
 'Figs',
 'Leeks and other alliaceous vegetables',
 'Lentils, dry',
 'Millet',
 'Okra',
 'Other stone fruits',
 'Peaches and nectarines',
 'Pears',
 'Peas, dry',
 'Plums and sloes',
 'Quinces',
 'Walnuts, in shell']

In [10]:
# Define categories based on previously generated groups
categories = {
    "Fruits": ["Bananas", "Grapes", "Lemons and limes", "Mangoes, guavas, and mangosteens", "Oranges", "Other citrus fruit, n.e.c.", "Papayas", "Pineapples", "Pomelos and grapefruits", "Tangerines, mandarins, clementines", "Watermelons", "Apples", "Apricots", "Cantaloupes and other melons", "Dates", "Figs", "Other stone fruits", "Peaches and nectarines", "Pears", "Plums and sloes", "Quinces"],
    "Vegetables": ["Asparagus", "Broad beans and horse beans, green", "Cabbages", "Cauliflowers and broccoli", "Cucumbers and gherkins", "Edible roots and tubers with high starch or inulin content, n.e.c., fresh", "Eggplants (aubergines)", "Green corn (maize)", "Green garlic", "Lettuce and chicory", "Onions and shallots, green", "Other beans, green", "Other vegetables, fresh n.e.c.", "Peas, green", "Peppers (Capsicum spp. and Pimenta spp.), green", "Potatoes", "Pumpkins, squash, and gourds", "Sweet potatoes", "Tomatoes", "Carrots and turnips", "Leeks and other alliaceous vegetables", "Okra", "Taro"],
    "Grains and Pulses": ["Barley", "Beans, dry", "Broad beans and horse beans, dry", "Cassava, fresh", "Chickpeas, dry", "Cowpeas, dry", "Lentils, dry", "Maize (corn)", "Millet", "Other pulses n.e.c.", "Rice", "Sorghum", "Wheat", "Peas, dry"],
    "Nuts and Seeds": ["Areca nuts", "Canary seed", "Cashew nuts, in shell", "Castor oil seeds", "Cocoa beans", "Coconuts, in shell", "Coffee, green", "Groundnuts, excluding shelled", "Kapok fruit", "Kenaf, and other textile bast fibres, raw or retted", "Melonseed", "Nutmeg, mace, cardamoms, raw", "Oil palm fruit", "Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.", "Other oil seeds, n.e.c.", "Sesame seed", "Sunflower seed", "Almonds, in shell", "Walnuts, in shell"],
    "Stimulant and Spice Crops": ["Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw", "Ginger, raw", "Pepper (Piper spp.), raw", "Other stimulant, spice, and aromatic crops, n.e.c.", "Tea leaves"],
    "Other Crops": ["Cereals n.e.c.", "Coir, raw", "Jute, raw or retted", "Natural rubber in primary forms", "Other citrus fruit, n.e.c.", "Other fibre crops, raw, n.e.c.", "Other fruits, n.e.c.", "Other tropical fruits, n.e.c.", "Unmanufactured tobacco", "Seed cotton, unginned", "Sisal, raw", "Sugar cane"]
}

# Function to map items to their corresponding categories
def map_to_category(item):
    for category, items in categories.items():
        if item in items:
            return category
    return "Other"

# Apply the function to create a new column with category labels
df['Category'] = df['Item'].apply(map_to_category)

# Group the DataFrame based on the new column
groups = df.groupby('Category')

# Store the groups in a dictionary for further analysis or processing
grouped_dict = {name: group for name, group in groups}

# Access the groups using their category names
print(grouped_dict['Fruits'])
print(grouped_dict['Vegetables'])

          Area         Item  Year  Area_harvested     Yield  temperature  \
124   Thailand      Bananas  1961         70000.0   92286.0        26.23
125   Thailand      Bananas  1962         70000.0   94714.0        26.08
126   Thailand      Bananas  1963         80000.0   99500.0        26.07
127   Thailand      Bananas  1964         80000.0   92875.0        26.14
128   Thailand      Bananas  1965        120000.0   97750.0        26.28
...        ...          ...   ...             ...       ...          ...
7826     Yemen  Watermelons  2018          9900.0  166290.0        25.50
7827     Yemen  Watermelons  2019          9596.0  147231.0        25.94
7828     Yemen  Watermelons  2020          9756.0  147124.0        25.62
7829     Yemen  Watermelons  2021         10021.0  202712.0        25.64
7830     Yemen  Watermelons  2022         11474.0  182739.0        25.51

      precipitation  humidity  Soil_PH  Soil_Nitrogen  Soil_OM   VHI    ASI  \
124         1740.10     78.50     4.33          0.920     3.69  0.36  19.17
125         1586.14     76.30     5.95          4.050     2.66  0.55   3.96
126         1664.81     77.30     4.72          1.490     3.91  0.40   8.93
127         1689.46     73.19     4.89          3.020     3.65  0.43   7.68
128         1600.65     73.50     4.50          2.430     2.92  0.41  18.26
...             ...       ...      ...            ...      ...   ...    ...
7826         187.61     40.40     6.88          0.021     0.74  0.54   6.74
7827         185.96     41.70     6.93          0.059     0.71  0.65   4.16
7828         188.15     42.40     7.51          0.039     0.74  0.57   3.56
7829         186.96     41.00     7.96          0.029     1.20  0.64   3.85
7830         190.54     43.00     7.97          0.051     1.06  0.68   4.59

     Category
124    Fruits
125    Fruits
126    Fruits
127    Fruits
128    Fruits
...       ...
7826   Fruits
7827   Fruits
7828   Fruits
7829   Fruits
7830   Fruits

[1728 rows x 14 columns]
          Area       Item  Year  Area_harvested     Yield  temperature  \
62    Thailand  Asparagus  1961             0.0       0.0        26.23
63    Thailand  Asparagus  1962             0.0       0.0        26.08
64    Thailand  Asparagus  1963             0.0       0.0        26.07
65    Thailand  Asparagus  1964             0.0       0.0        26.14
66    Thailand  Asparagus  1965             0.0       0.0        26.28
...        ...        ...   ...             ...       ...          ...
7640     Yemen   Tomatoes  2018          7301.0  141889.0        25.50
7641     Yemen   Tomatoes  2019          7998.0  146386.0        25.94
7642     Yemen   Tomatoes  2020          7996.0  158147.0        25.62
7643     Yemen   Tomatoes  2021          8392.0  193796.0        25.64
7644     Yemen   Tomatoes  2022          8941.0  193291.0        25.51

      precipitation  humidity  Soil_PH  Soil_Nitrogen  Soil_OM   VHI    ASI  \
62          1740.10     78.50     4.33          0.920     3.69  0.36  19.17
63          1586.14     76.30     5.95          4.050     2.66  0.55   3.96
64          1664.81     77.30     4.72          1.490     3.91  0.40   8.93
65          1689.46     73.19     4.89          3.020     3.65  0.43   7.68
66          1600.65     73.50     4.50          2.430     2.92  0.41  18.26
...             ...       ...      ...            ...      ...   ...    ...
7640         187.61     40.40     6.88          0.021     0.74  0.54   6.74
7641         185.96     41.70     6.93          0.059     0.71  0.65   4.16
7642         188.15     42.40     7.51          0.039     0.74  0.57   3.56
7643         186.96     41.00     7.96          0.029     1.20  0.64   3.85
7644         190.54     43.00     7.97          0.051     1.06  0.68   4.59

        Category
62    Vegetables
63    Vegetables
64    Vegetables
65    Vegetables
66    Vegetables
...          ...
7640  Vegetables
7641  Vegetables
7642  Vegetables
7643  Vegetables
7644  Vegetables

[1891 rows x 14 columns]

In [12]:
df.tail()

,Area,Item,Year,Area_harvested,Yield,temperature,precipitation,humidity,Soil_PH,Soil_Nitrogen,Soil_OM,VHI,ASI,Category
7888,Yemen,Wheat,2018,64339.0,14332.0,25.50,187.61,40.4,6.88,0.021,0.74,0.54,6.74,Grains and Pulses
7889,Yemen,Wheat,2019,57466.0,17459.0,25.94,185.96,41.7,6.93,0.059,0.71,0.65,4.16,Grains and Pulses
7890,Yemen,Wheat,2020,59190.0,21485.0,25.62,188.15,42.4,7.51,0.039,0.74,0.57,3.56,Grains and Pulses
7891,Yemen,Wheat,2021,60955.0,22644.0,25.64,186.96,41.0,7.96,0.029,1.20,0.64,3.85,Grains and Pulses
7892,Yemen,Wheat,2022,60000.0,16667.0,25.51,190.54,43.0,7.97,0.051,1.06,0.68,4.59,Grains and Pulses

In [15]:
# df.to_csv("categorized_ty.csv", sep=',', encoding='utf-8', index=False)

In [25]:
avg = pd.read_csv("avgyield.csv")

In [26]:
avg

,Country,Crop,Crop_type,avg_area_harvested,avg_yield,avg_temperature,avg_precipitation,avg_humidity,avg_soil_ph,avg_soil_nitrogen,avg_soil_om,avg_vhi,avg_asi
0,Thailand,Areca nuts,Nuts and Seeds,9741.20,10222.00,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
1,Thailand,Asparagus,Vegetables,4228.22,40678.32,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
2,Thailand,Bananas,Fruits,115899.76,133239.73,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
3,Thailand,Barley,Grains and Pulses,12003.73,9766.19,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
4,Thailand,"Beans, dry",Grains and Pulses,249848.59,7886.66,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Yemen,Tomatoes,Vegetables,9032.03,104162.24,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
129,Yemen,Unmanufactured tobacco,Other Crops,5946.49,16565.20,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
130,Yemen,"Walnuts, in shell",Nuts and Seeds,0.73,4058.12,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
131,Yemen,Watermelons,Fruits,5973.53,246717.93,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
132,Yemen,Wheat,Grains and Pulses,79578.15,13691.59,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90

In [27]:
count_zero_yield_area = len(avg[(avg['avg_yield'] == 0) & (avg['avg_area_harvested'] == 0)])
print("Count of rows with Yield and Area_harvested = 0:", count_zero_yield_area)

Count of rows with Yield and Area_harvested = 0: 6

In [28]:
count_zero_yield = len(avg[avg['avg_yield'] == 0])
count_zero_area_harvested = len(avg[avg['avg_area_harvested'] == 0])

print("Count of rows with Yield = 0:", count_zero_yield)
print("Count of rows with Area_harvested = 0:", count_zero_area_harvested)

Count of rows with Yield = 0: 6
Count of rows with Area_harvested = 0: 6

In [30]:
avg = avg[(avg['avg_yield'] != 0) & (avg['avg_area_harvested'] != 0)]

In [31]:
avg

,Country,Crop,Crop_type,avg_area_harvested,avg_yield,avg_temperature,avg_precipitation,avg_humidity,avg_soil_ph,avg_soil_nitrogen,avg_soil_om,avg_vhi,avg_asi
0,Thailand,Areca nuts,Nuts and Seeds,9741.20,10222.00,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
1,Thailand,Asparagus,Vegetables,4228.22,40678.32,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
2,Thailand,Bananas,Fruits,115899.76,133239.73,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
3,Thailand,Barley,Grains and Pulses,12003.73,9766.19,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
4,Thailand,"Beans, dry",Grains and Pulses,249848.59,7886.66,26.60,1595.26,73.12,5.04,2.40,2.96,0.48,9.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Yemen,Tomatoes,Vegetables,9032.03,104162.24,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
129,Yemen,Unmanufactured tobacco,Other Crops,5946.49,16565.20,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
130,Yemen,"Walnuts, in shell",Nuts and Seeds,0.73,4058.12,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
131,Yemen,Watermelons,Fruits,5973.53,246717.93,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90
132,Yemen,Wheat,Grains and Pulses,79578.15,13691.59,25.32,186.60,48.31,7.20,0.04,1.09,0.46,30.90

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Step 1: Prepare the data
avg_yield_per_crop = avg.groupby(['Country', 'Crop'])['avg_yield'].mean().reset_index()

# One-hot encode the 'Country' column
encoder = OneHotEncoder(sparse=False)
encoded_countries = encoder.fit_transform(avg_yield_per_crop[['Country']])
encoded_df = pd.DataFrame(encoded_countries, columns=encoder.get_feature_names_out(['Country']))

# Concatenate the encoded country features with the DataFrame
avg_yield_per_crop_encoded = pd.concat([avg_yield_per_crop, encoded_df], axis=1)

# Step 2: Train the model for each crop
models = {}
for crop in avg_yield_per_crop['Crop'].unique():
    # Filter data for the current crop
    crop_data = avg_yield_per_crop_encoded[avg_yield_per_crop_encoded['Crop'] == crop]
    
    # Prepare features (country) and target (yield)
    X = crop_data.drop(['Country', 'Crop', 'avg_yield'], axis=1)
    y = crop_data['avg_yield']
    
    # Train the linear regression model
    model = LinearRegression()
    model.fit(X, y)
    
    # Store the trained model
    models[crop] = model

# Step 3: Predict total average yield for each country
predicted_yields = {}
for country in avg_yield_per_crop['Country'].unique():
    total_yield = 0
    for crop, model in models.items():
        # Prepare features for prediction (one-hot encoded country)
        country_encoded = encoder.transform([[country]])
        
        # Predict yield for the current country using the corresponding model
        yield_prediction = model.predict(country_encoded)
        total_yield += yield_prediction[0]
    # Store the predicted total yield for the current country
    predicted_yields[country] = total_yield

# Print the predicted total average yield for each country
for country, total_yield in predicted_yields.items():
    print(f"Predicted total average yield for {country}: {total_yield}")

Predicted total average yield for Thailand: 5178786.78
Predicted total average yield for Yemen: 4109629.6300000027

In [43]:
# Filter data for Yemen and Thailand
yemen_data = avg[avg['Country'] == 'Yemen']
thailand_data = avg[avg['Country'] == 'Thailand']

# Calculate total average yield for Yemen
yemen_total_yield = yemen_data['avg_yield'].sum()

# Calculate total average yield for Thailand
thailand_total_yield = thailand_data['avg_yield'].sum()

print("Actual total average yield for Thailand:", thailand_total_yield)
print("Actual total average yield for Yemen:", yemen_total_yield)

Actual total average yield for Thailand: 4610662.28
Actual total average yield for Yemen: 2545181.7800000003

In [45]:
# Define actual total average yields for Yemen and Thailand
actual_yields = {
    'Yemen': round(yemen_total_yield,2),
    'Thailand': thailand_total_yield
}

# Define predicted total average yields obtained from the linear regression model
predicted_yields = {
    'Yemen': round(predicted_yields['Yemen'],2),
    'Thailand': predicted_yields['Thailand']
}

# Print actual vs predicted yields
print("Actual vs Predicted Total Average Yields:")
for country in actual_yields.keys():
    print(f"{country}:")
    print(f"  Actual: {actual_yields[country]}")
    print(f"  Predicted: {predicted_yields[country]}")
    print(f"  Difference: {actual_yields[country] - predicted_yields[country]}")
    print()

Actual vs Predicted Total Average Yields:
Yemen:
  Actual: 2545181.78
  Predicted: 4109629.63
  Difference: -1564447.85

Thailand:
  Actual: 4610662.28
  Predicted: 5178786.78
  Difference: -568124.5

In [1]:
df

NameError: name 'df' is not defined